<link rel="stylesheet" href="/stylesheets/navbar.css">
  
  <nav class="navbar">
    <div class="container">
      <div class="nav-left">
        <a href="/" class="nav-link active">HOME</a>
        <a href="/article" class="nav-link">ARTICLES</a>
        <a href="/about" class="nav-link">ABOUT</a>
        <a href="/contact" class="nav-link">CONTACT</a>
      </div>
      <div class="nav-right">
        <a href="/article/new"><button class="new-article-btn">+ NEW ARTICLE</button></a>
        <span class="username"></span>
        <div class="avatar-dropdown">
          <button class="sign-in-btn">
            Sign In
          </button>
          <button class="avatar-btn" id="avatarBtn">
            <img src="" alt="User Avatar" class="avatar-img">
          </button>
          <div class="dropdown-menu" id="profileDropdown">
            <a href="/user/profile">My Profile</a>
            <a href="/user/settings">Settings</a>
            <a href="/logout">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <script src="/javascripts/navbar.js"></script>

